# Ambientes Virtuais Python
venv/
.venv/
env/

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de distribuição e build
build/
dist/
*.egg-info/
*.spec

# Banco de dados SQLite
*.db
*.db-journal*
*.sqlite
*.sqlite3

# Arquivos de sistema operacional
.DS_Store
Thumbs.db